<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<div class="opc-estimated-wrapper" data-bind="blockLoader: isLoading">
    <div class="estimated-block" data-bind="click:">
        <div class="block-content">
            <!-- <span class="estimated-label" data-bind="i18n: 'Estimated Total'"></span> -->
            <span class="estimated-price" data-bind="text: getValue()"></span>
        </div>
        <div class="more-details-icon" data-bind="click:setFocus">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20" width="2rem" height="2rem"
                class="SidebarPlaceOrder_SidebarPlaceOrderStickyBarDownIcon__GB-wV SvgIcon_SvgIcon__XZVZw">
                <path stroke="#8F9494" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="m16 7-6 6-6-6">
                </path>
            </svg>
        </div>
    </div>
    <button class="action primary checkout checkout-placeorder-mobile" type="button" title="Place Order"
        data-bind="click: placeOrder" title="Place Order">
        <span data-bind="i18n: 'Place Order'"></span>
    </button>
</div>