<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="hyva_config_generate_before">
        <observer name="HyvaElsner_HomeCustomization" instance="HyvaElsner\HomeCustomization\Observer\RegisterModuleForHyvaConfig"/>
    </event>
</config>