<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Mageplaza\Shopbybrand\Plugin\ToolbarMemorizerPlugin" type="HyvaElsner\ShopByBrandFix\Plugin\ToolbarMemorizerPlugin" />
      <type name="Mageplaza\Shopbybrand\Controller\Index\View">
        <plugin name="Amasty_Shopby::ajaxShopbyInject" type="HyvaElsner\ShopByBrandFix\Plugin\Ajax\CategoryViewAjax"/>
    </type>
</config>
