<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="HyvaElsner\Base\ViewModel\SvgIcons">
        <arguments>
            <argument name="iconPathPrefix" xsi:type="string">HyvaElsner_Base::svg/topheader</argument>
        </arguments>
    </type>
</config>